/* === Login page === */

#loginForm {
    margin-bottom: 10px;
}

.login-box {
    margin:auto;
    width: 500px;
    margin-top: 12em;
}

.login-error-message {
    margin-top: 10px;
}

iframe {
    display: block;
    margin: 0 auto;
}

/* === Media cuts list === */

.btn-mediacuts-action {
    visibility: hidden;
}

.mediacut-thumbnail:hover > .btn-mediacuts-action {
    visibility: visible;
}